<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0">
    <title>너굴의 핫딜 모아모아</title>
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
    <!-- CSS-->



    <!--bootstrap 템플릿 적용 본-->
    <link rel="stylesheet" th:href="@{/bootstrap/css/custom-bs.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/jquery.fancybox.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/fonts/line-icons/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/quill.snow.css}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/style.css}">


    <!-- SCRIPTS -->
    <script th:src="@{/bootstrap/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/bootstrap/js/isotope.pkgd.min.js}"></script>
    <script th:src="@{/bootstrap/js/stickyfill.min.js}"></script>
    <script th:src="@{/bootstrap/js/jquery.fancybox.min.js}"></script>
    <script th:src="@{/bootstrap/js/jquery.easing.1.3.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <script th:src="@{/bootstrap/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/bootstrap/js/jquery.animateNumber.min.js}"></script>
    <script th:src="@{/bootstrap/js/owl.carousel.min.js}"></script>
    <script th:src="@{/bootstrap/js/quill.min.js}"></script>


    <script th:src="@{/bootstrap/js/bootstrap-select.min.js}"></script>

    <script th:src="@{/bootstrap/js/custom.js}"></script>




</head>

<body>

</body>

</html>